:root {--font-size: 25px}

nav, ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    border: 0;
    margin: 0;
}

nav {
    justify-content: space-between;
}

#shop {
    border-right: 2px solid grey;
}

ul {
    list-style-type: none;
    font-size: var(--font-size);
}

li {
    padding-right: var(--font-size);
}


li:hover{
    color: aqua;
    cursor: pointer;
}